$mainColor: orange;
$sectionsBg: #fafafa;

@mixin Button($btnBgColor: $mainColor, $borderColor: transparent, $btnColor: #ffffff) {
    width: 11rem;
    font-size: 1rem;
    background-color: $btnBgColor;
    border-color: $borderColor;
    color: $btnColor;

    &.btn:focus {
        outline: none;
        box-shadow: none;
    }
}

@mixin Service($servicBg) {
    color: #ffffff;
    border-radius: 4px;
    margin: 5px;
    padding: 50px 40px;
    flex-basis: 48%;
    // background-image: url(../img/me.jpg);
    background-color: $servicBg;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    /*direction: rtl;*/
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    color: #303030;
}

.holder {
    padding: 30px 200px;
}

.navbar {
    padding: 10px 200px;

    .navbar-brand {
        color: $mainColor;
        font-size: 2rem;
        font-weight: 700;
        margin-left: 1rem;
    }
}

#topMenu {
    ul {
        li {
            text-align: center;
            padding: 0.5rem 0.7rem 0;

            a {
                font-size: 1rem;
                color: #333333;
                text-decoration: none;
            }
        }
    }
}

#header {
    background-color: $sectionsBg;
    display: flex;
    align-items: center;

    .textHolder {
        span {
            font-size: 1.8rem;
            color: #696969;
        }

        h1 {
            font-size: 3rem;
        }

        h2 {
            font-size: 1.8rem;
            color: #696969;
        }

        button {
            @include Button();
            margin: 1rem 0rem;
        }
    }

    .imgHolder {
        img {
            width: 100%;
            height: auto;
        }
    }
}


#aboutMe {
    display: flex;
    align-items: center;

    .textHolder {
        h3 {
            font-size: 2.5rem;
            text-align: center;
        }

        p {
            font-size: 1rem;
        }

        .buttonHolder {
            margin: 1rem 0rem;

            button {
                margin: 0.5rem 0.2rem;
            }
        }
    }

    .textHolder {
        button {
            @include Button();
        }

        button.whiteBtn {
            @include Button(transparent, $mainColor, $mainColor);
        }
    }

}



#services {

    .textHolder {
        text-align: center;

        h3 {
            font-size: 2.5rem;
        }

        p {
            font-size: 1rem;
        }
    }

    .serviceHolder {
        width: 100vw;
        margin: 20px auto;
        display: flex;
        justify-content: center;

        div {
            &.box:nth-child(1) {
                @include Service(rgb(90, 90, 252));
            }

            &.box:nth-child(2) {
                @include Service($mainColor);
            }

            &.box:nth-child(3) {
                @include Service(rgb(252, 52, 252));
            }

            &.box:nth-child(4) {
                @include Service(rgb(66, 179, 66));
            }
        }

        i {
            &.fas {
                font-size: 2rem;
                margin-bottom: 0.8rem;
            }
        }

    }

}

@media screen and (max-width: 768px) {
    .holder {
        padding: 30px 80px;
    }

    .navbar {
        padding: 5px 90px;
    }

    #header {
        .textHolder {

            span,
            h2 {
                font-size: 1.5rem;
            }

            h1 {
                font-size: 2.5rem;
            }
        }
    }

    #aboutMe {
        .textHolder {
            text-align: justify;

            .buttonHolder {
                text-align: center;
            }

            p {
                text-align: justify;
            }
        }
    }

    #services {
        .textHolder {
            p {
                text-align: justify;
            }
        }
    }

}

@media screen and (max-width: 425px) {
    .holder {
        padding: 10px 20px;
        text-align: center;
    }

    .navbar {
        padding: 5px 30px;
    }

    #services {
        .serviceHolder {
            div {
                flex-basis: 100% !important;
            }
        }
    }
}